**/.ipynb_checkpoints
**/__pycache__/**
/datasets

/activities

/data
/Lab01-deeplearning/training/logs/
/Lab01-deeplearning/model.pt
.vscode

/Lab04-dask/nyc-average-monthly-temp.csv
/Lab04-dask/nyc-temp-data.csv
/Lab05-dask2/Chapter *
/Lab06-ray/reinforcement_learning/rex/results/
/Lab06-ray/local_dir/

/Lab08-hadoop/docker-hadoop/data/

setup-tljh.sh

/projects

/bonus/

/books/